.menu1 {
    display: flex;
    justify-content: center;
    background-color: red;
    margin: 20px;
    padding: 8px;
    border: 9px dashed green;
}

.item1 {
    margin: 15px;
    padding: 5px;
    border: 9px dashed yellow;
    background-color: lightblue;
}

.menu2 {
    display: flex;
    justify-content: flex-start;
    background-color: green;
    margin: 20px;
    padding: 8px;
    border: 9px dashed pink;
}

.item2 {
    margin: 15px;
    padding: 1px;
    border: 6px dashed brown;
    background-color: lightblue;
}

.menu3 {
    display: flex;
    justify-content: flex-end;
    background-color: green;
    margin: 20px;
    padding: 8px;
    border: 9px dashed grey;
}

.item3 {
    margin: 15px;
    padding: 3px;
    border: 6px solid black;
    background-color: lime;
}